body {
  height: 1000px;
  display: flex;
  min-height: 100vh;
  flex-direction: column; }

.container-fluid {
  padding: 0; }

ul {
  list-style-type: none;
  padding: 0; }

.login-page {
  background: url(https://images.theconversation.com/files/94013/original/image-20150907-22253-rnp0iv.jpg?ixlib=rb-1.1.0&q=45&auto=format&w=1012&h=668&fit=crop);
  height: 100vh;
  background-size: cover; }

.login-card {
  width: 420px;
  margin: 0 auto;
  float: none;
  border: none;
  top: 150px;
  background-color: #696969;
  padding: 20px;
  padding-bottom: 130px;
  color: white;
  box-shadow: 3px 3px 3px 1px #222222; }
  .login-card p {
    color: white; }
  .login-card h1 {
    text-align: center; }
  .login-card .login-btn {
    text-decoration: none;
    background-color: #5CB85C;
    border: none;
    color: white;
    padding: 10px 35px;
    font-size: 20px;
    cursor: pointer;
    margin: 4px;
    margin-left: 0;
    margin-right: 0;
    float: left;
    box-shadow: 1px 1px 1px 1px #222222;
    height: 50px;
    position: relative;
    width: 380px;
    text-align: center; }
  .login-card .login-btn:hover {
    background-color: green; }
  .login-card .login-field {
    margin-bottom: 5px;
    width: 380px;
    margin-left: 4;
    padding: 15px;
    box-shadow: 1px 1px 1px 1px #222222; }
  .login-card .logo {
    animation: App-logo-spin infinite 10s linear;
    width: 50px; }

.main {
  margin: 0;
  padding: 10px;
  background: #ffffff;
  width: 100%; }

.logo {
  animation: App-logo-spin infinite 10s linear;
  width: 30px; }

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }

.messageComposer {
  background: #ffffff;
  width: 100%;
  height: 80px;
  flex-shrink: 0;
  bottom: 0;
  position: fixed; }

.activeChannel {
  position: fixed;
  background: #ffffff;
  top: 0;
  padding: 20px;
  width: 100%; }

.header {
  position: fixed;
  background: #ffffff;
  flex-shrink: 0;
  top: 0;
  left: 0;
  text-align: center;
  padding: 20px;
  width: 100%;
  margin: 0;
  z-index: 1; }

/*Sender of message*/
.dashName {
  color: #808080;
  /*margin-left: 10px;*/
  background: Transparent;
  background-repeat: noRepeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none; }

/*Time sent*/
.dashTime {
  color: #808080;
  margin-left: 10px;
  opacity: 0.5;
  font-size: 12px;
  font-family: sans-serif; }

/*Message text*/
.dashMess {
  color: #696969;
  /*margin-left: 10px;*/
  clear: both;
  padding-top: 0.1em;
  padding-top: 0.1em;
  margin-top: -1px;
  padding-bottom: 0.3em; }

.sidebar-frame {
  background-color: #696969;
  width: 100%;
  z-index: 10; }
  .sidebar-frame p {
    color: white;
    margin-bottom: 5px; }
  .sidebar-frame .toggle {
    text-decoration: none;
    font-size: 2em;
    color: #696969;
    -webkit-transition: all 0.15s ease-out 0;
    -moz-transition: all 0.15s ease-out 0;
    transition: all 0.45s ease-out 0;
    position: fixed;
    top: 2px;
    left: 10px;
    z-index: 100;
    cursor: pointer; }
  .sidebar-frame .sidebar {
    position: fixed;
    z-index: 100;
    top: 0px;
    bottom: 0px;
    left: -290px;
    -webkit-transition: all 0.15s ease-out 0;
    -moz-transition: all 0.15s ease-out 0;
    transition: all 0.15s ease-out 0;
    width: 250px;
    padding: 10px;
    background: #696969; }
  .sidebar-frame .sidebar ul {
    list-style: none;
    margin: 0;
    padding: 0; }
  .sidebar-frame .sidebar li a {
    color: #fff;
    font-size: 17px;
    margin: 0;
    margin-bottom: 16px;
    cursor: pointer;
    text-decoration: none;
    line-height: 200%; }
  .sidebar-frame .sidebar a:hover {
    color: rgba(0, 0, 0, 0.61); }
  .sidebar-frame #slide:checked + .container .sidebar {
    left: 0px; }
  .sidebar-frame #slide:checked + .container .toggle {
    left: 270px; }
  .sidebar-frame #slide {
    display: none; }
  .sidebar-frame .sidebar-icon-btn {
    background-color: #5CB85C;
    border: none;
    color: white;
    padding: 10px;
    font-size: 20px;
    cursor: pointer;
    margin: 3px;
    box-shadow: 1px 1px 1px 1px #222222; }
  .sidebar-frame .sidebar-send-btn {
    background-color: #5CB85C;
    border: none;
    color: white;
    padding: 10px 35px;
    font-size: 20px;
    cursor: pointer;
    margin: 4px;
    box-shadow: 1px 1px 1px 1px #222222; }
  .sidebar-frame .sidebar-send-btn:hover {
    background-color: green; }
  .sidebar-frame .sidebar-icon-btn:hover {
    background-color: green; }

.nav {
  z-index: 500;
  margin: 0;
  color: white;
  background: #696969;
  width: 250px;
  position: fixed;
  height: 100%; }

.navlink a {
  text-decoration: none;
  color: white; }

.navlink a:hover {
  text-decoration: none;
  color: #696969; }

@media screen and (max-width: 500px) {
  .login-card {
    width: 420px;
    margin: 0 auto;
    float: none;
    border: none;
    top: 0px;
    background-color: #696969;
    padding: 20px;
    padding-bottom: 130px;
    color: white; }
  .login-page {
    background-color: #696969;
    height: 100vh;
    background-size: cover; } }

@media screen and (min-width: 500px) {
  .login-card {
    width: 420px;
    margin: 0 auto;
    float: none;
    border: none;
    top: 150px;
    background-color: #696969;
    padding: 20px;
    padding-bottom: 130px;
    color: white;
    box-shadow: 3px 3px 3px 1px #222222; } }
