html {
  height: 100vh;
}


h2 {
  text-align: center;
}

ul {
	list-style-type: none;
	padding: 0;
}

a {
	text-decoration: none;
}

a:hover{
  text-decoration: none;
}

a:focus {
	text-decoration: none;
}

p {
  font-family: 'Titillium Web', sans-serif;
}

.main {
  margin: 0;
  padding: 10px;
  background:#ffffff;
  width: 100%;
  margin-top: 60px;
  margin-Bottom: 100px;
}

/*=============================
            LOGIN/REGISTER
===============================*/


.login-page-desk {
	background: url(https://images.theconversation.com/files/94013/original/image-20150907-22253-rnp0iv.jpg?ixlib=rb-1.1.0&q=45&auto=format&w=1012&h=668&fit=crop);
	background-size: cover;
  background-repeat:no-repeat;
  height: 100vh;

	.login-card {
	  width: 400px;
	  margin: 0 auto;
	  float: none;
	  border:none;
	  top: 100px;
	  background-color: #696969;
	  padding: 20px;
	  color: white;
	  box-shadow: 3px 3px 10px 1px #222222;
	  border-radius: 5px;

	  p {
	  	color:white;
	  }

		img {
			display:block;
			margin-left: auto;
    	margin-right: auto;
		}

		.login-btn {
		  padding: 10px;
		  font-size: 20px;
		  cursor: pointer;
		  margin-top:5px;
      margin-bottom:0px;
			margin-left: 10px;
		  height: 50px;
		  width: 300px;
		  border-radius: 5px;
		}

		.login-btn:hover {
      box-shadow: 0px 5px 30px 0px #222222;
		}


		.login-field{
      margin-top:5px;
      width: 300px;
      margin-left: auto;
      margin-right: auto;


      input {
        width:100%;
        padding:10px;
        box-shadow: 1px 1px 1px 1px #222222;
        border-radius: 5px;
      }

      input:focus {
        outline: none;
      }
    }

		.logo {
		  animation: App-logo-spin infinite 10s linear;
		  width: 50px;
		}

	}
}



.login-page-mobile {
	padding:5px;
	padding-top: 20px;
	background-color: #696969;
	height: 100vh;
	background-size: cover;
	color:white;

	a {
		text-align: center;
		color:white;
		display:block;
		margin-top: 20px;
	}

	img {
		display:block;
		margin-left: auto;
  	margin-right: auto;
	}

	.login-btn {
	  color: white;
	  padding: 10px;
	  font-size: 20px;
	  cursor: pointer;
    margin-top:5px;
    margin-bottom:0px;
	  height: 50px;
	  width: 250px;
	  margin-left: auto;
		margin-right: auto;
	  text-align: center;
	  border-radius: 5px;
	  display: block;
	}

	.login-btn:hover {
      box-shadow: 0px 5px 30px 0px #222222;
	}

  .login-field{
    margin-top:5px;
    width: 250px;
    margin-left: auto;
    margin-right: auto;

    input {
      width:100%;
      padding:10px;
      box-shadow: 1px 1px 1px 1px #222222;
      border-radius: 5px;
    }

    input:focus {
      outline: none;
    }
  }

  .logo {
    animation: App-logo-spin infinite 10s linear;
    width: 50px;
  }
}

.loginError {
  color: #FF4500 !important;
  text-align: center;
}

.logout{
  color:#696969;
  text-align: center;
}

/*=============================
            PROFILE PAGE
===============================*/


.profile-page {
	margin-top: 70px;
}

.profile-img {
	width: 100%;
	border-radius:20px;
  margin-bottom:20px;
}

/*=============================
            HEADER
===============================*/

.header {
  position: fixed;
  background: #ffffff;
  flex-shrink: 0;
  top:0;
  left:0;
  text-align: center;
  padding: 8px;
  width:100%;
  margin: 0;
  z-index: 1;
  box-shadow: 0px 0px 10px 0px #696969;
}

.logo {
  animation: App-logo-spin infinite 10s linear;
  width: 30px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

/*=============================
            MESSAGE AREA
===============================*/

.profile-img-chat {
	height:50px;
	width:50px;
	border-radius: 5px;
	box-shadow: 3px 3px 10px 0px #696969;
}

.messageComposer {
  background: #ffffff;
  width: 100%;
  height: 80px;
  flex-shrink: 0;
  bottom: 0;
  position: fixed;
}

.mess-name {
  color:  #222222;
  background: Transparent;
  background-repeat: noRepeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
  font-size: 20px;

  a{
    color:  #808080;
  }
}

.mess-time {
  color:  #808080;
  margin-left: 10px;
  opacity: 0.5;
  font-size: 13px;
  font-family: sans-serif;
}

.mess-edit {
  width:30px;
  padding:0;
  border:none;
  border-radius:15px;
  background: none;
  opacity: 0.1;
  font-size: 20px;
  right:0px;
  margin-top:0;
  position:absolute;
}

.mess-edit:hover {
  opacity: 0.8;
  border:none;
  background: none;
}

.mess-edit:active {
  opacity: 0.5;
  border:none;
  background: none;
}

.mess-text {
  width:500px;
  color:  #696969;
  clear: both;
  padding-top: 1px;
  margin-top: -1px;
  padding-bottom: 3px;
  word-wrap: break-word;

}

/*=============================
            EDIT MESSAGE
===============================*/
.edit-message-screen {
  .edit-message {
    border: none;
    width:100%;
    height:100px;
  }

  .edit-message:focus {
    outline:none !important;
  }

  button{
    border-radius:10px;
  }
}




/*=============================
            SIDEBAR
===============================*/
.toggle {
  text-decoration: none;

  position: fixed;
  width: 10px;
  top: 6px;
  left: 7px;
  z-index: 100;
  cursor: pointer;

  svg {
    color: #696969;
    width: 40px !important;
    height: 40px !important;
  }

  svg:hover {
    color: #59b300;
  }

}

.sidebar-box {
  background: #696969;
  width: 100%;
  z-index:500;

  p{
    color: white;
    margin-bottom:5px;
    text-align: center;
  }

  a{
    text-decoration:none;
    color:white;
  }

  a:hover{
    text-decoration:none;
    color:#59b300;
  }

  .sidebar{
    opacity:1;
    transition: all 0.6s ease;
    z-index: 1000;
    position:fixed;
    top: 0px;
    bottom: 0px;
    width: 250px;
    padding: 10px;
    background: #696969;
  }

  .sidebar-icon-btn {
    padding: 10px 15.5px;
    border-radius:5px;
  }

  .sidebar-icon-btn:hover {
    box-shadow: 0px 2px 15px 0px #222222;
  }

  .sidebar-send-btn {
    padding: 10px 15.5px;
    margin-left:35px;
    border-radius:5px;
  }

  .sidebar.sidebar-entering{
    opacity:0.5;
    transform:translateX(0%);
  }

  .sidebar.sidebar-exited{
    opacity:0;
    transform:translateX(-100%);
  }

  .screenHide {
    top:0;
    bottom:0;
    width:100%;
    height:100%;
    z-index:400;
    position:fixed;
    transition: all 0.01s;
  }

  .screenHide.screenHide-entering {
    opacity:0;
    transform:translateX(0%);
  }

  .screenHide.screenHide-exited {
    opacity:0;
    transform:translateX(-100%);
  }
}

/*=============================
            LOADER
===============================*/


.loader,
.loader:before,
.loader:after {
  border-radius: 50%;
}
.loader {
  color: #388e3c;
  font-size: 11px;
  text-indent: -99999em;
  margin: 55px auto;
  position: relative;
  width: 10em;
  height: 10em;
  box-shadow: inset 0 0 0 1em;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}
.loader:before,
.loader:after {
  position: absolute;
  content: '';
}
.loader:before {
  margin: 0 auto;
  background: white;
  border-radius: 10.2em 0 0 10.2em;
  top: -0.1em;
  left: -0.1em;
  -webkit-transform-origin: 5.2em 5.1em;
  transform-origin: 5.2em 5.1em;
  -webkit-animation: load2 2s infinite ease 1.5s;
  animation: load2 1s infinite ease 1.5s;
}
.loader:after {
  width: 5.2em;
  height: 10.2em;
  background: white;
  border-radius: 0 10.2em 10.2em 0;
  top: -0.1em;
  left: 5.1em;
  -webkit-transform-origin: 0px 5.1em;
  transform-origin: 0px 5.1em;
  -webkit-animation: load2 2s infinite ease;
  animation: load2 1s infinite ease;
}

@-webkit-keyframes load2 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes load2 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

/*=============================
            RESPONSIVE
===============================*/

@media screen and (max-width: 500px) {
  .login-page-mobile {
    display:block;
  }
  .login-page-desk {
    display:none;
  }
  .mess-text {
    width:230px;
  }
  .mess-name {
    font-size:17px;
  }
  .mess-time {
    font-size:10px;
  }
}

@media screen and (min-width: 500px) {
  .login-page-mobile {
    display:none;
  }

  .login-page-desk {
    display:block;
  }
}